/config.ini.php
/vendor 
/install/lock
/uploads
/data/lock
/data/dbbackup
/data/twig_cache
/doc
/.phpdoc
/data/template_runtime
/data/runtime
/plugins/api_center/test/vendor
/plugins/api_center/test/composer.lock
/data/license.crt
/nginx.htaccess
/xhprof
/vendor.zip
/.htaccess
/node_modules