.center{
	text-align: center;
}

#app { 
    margin: auto;
    margin-top: 10px;
}
.title{
	font-size: 18px;
	font-weight: bold;
}
.mt5{
	margin-top: 5px;
}

.wh200{
	 
}

.body-wrapper{
	margin:20px;
}

.el-button--primary,.el-button--primary:hover {
    color: #FFF;
    background-color: #008cba;
    border-color: #008cba;
}
